<p style="color: green"><%= notice %></p>

<h1>Boardgames</h1>


<table class=table>
    <thead>
      <th>Title</th>
      <th>Price</th>
      <th>Author</th>
      <th>Rating</th>
      <th> </th>
    </thead>
    <tbody>
      <% @boardgames.each do |boardgame| %>
        <tr>
          <td><%= boardgame.title %></td>
          <td><%= boardgame.price %></td>
          <td><%= boardgame.author%></td>
          <td><%= boardgame.rating%></td>
          <td>
            <%= link_to "Show this boardgame", boardgame %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= link_to "New boardgame", new_boardgame_path %>
